<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ information?.Genre }}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-card *ngIf="information">
    <ion-card-header>
      <ion-card-title  class="ion-text-center">
        {{ information.Title }}
      </ion-card-title>
      <ion-card-subtitle  class="ion-text-center">
        {{ information.Year }}
      </ion-card-subtitle>
      <ion-item lines="none">
        <ion-img [src]="information.Poster" class="info-img" *ngIf="information.Poster && information.Poster != 'N/A'; else sinPoster">  </ion-img>    
        <ng-template #sinPoster><ion-img [src]="'https://assets.imgix.net/examples/clouds.jpg?monochrome=ff6598cc&txt-font=Futura%20Condensed%20Medium&txt-align=middle%2Ccenter&txt-color=ff2e4357&txt-size=62&txt=' + information.Title + '&fit=crop&h=800&w=800&blur=800'" class="info-img"></ion-img></ng-template>
      </ion-item>
    </ion-card-header>
      <ion-card-content text-center>
      <ion-item lines="none">
        <ion-icon name="document-text" slot="start"></ion-icon>
        <ion-text>{{ information.Plot }} </ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="star-half" slot="start"></ion-icon>
        <ion-label>{{ information.imdbRating }} <p class="rating-info"> *Basado en IMDB</p></ion-label>
      </ion-item>
 
      <ion-item lines="none">
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label text-wrap>{{ information.Director }}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label text-wrap>{{ information.Actors }}</ion-label>
      </ion-item>
       
      <ion-item lines="none">
        <ion-icon name="volume-medium" slot="start"></ion-icon>
        <ion-label text-wrap>{{ information.Language }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
