.search-bar {
    width: 70%;
}

.type-options {
    width: 30%;
}

.year {
    font-weight: bold;
}

.card-film {
    height: 340px!important;
    width: 150px!important;
    max-height: 340px!important;
    max-width: 150px!important;
    margin: 5px 5px 5px 5px!important;
}

.movie-image {
    padding:10px;
    height: 200px!important;
    width: 150px!important;
}

.icon {
    padding-left: 5px
}