.search-bar {
    width: 70%;
}

.type-options {
    width: 30%;
}

.year {
    font-weight: bold;
}

.card-film {
    height: 340px!important;
    width: 150px!important;
    max-height: 340px!important;
    max-width: 145px!important;
    margin: 3px 3px 3px 3px!important;
}

.movie-image {
    padding:10px;
    height: 200px!important;
    width: 145px!important;
}

.icon {
    padding-left: 5px
}

.div-cards {

    align-content:center;

}

.sinResul{

    padding:30px;

}

.nulo{


    margin:0px!important;
    padding:0px!important;

}