<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Okode Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button shape="round" [routerLink]="['/', 'films']" >Test Ionic-Angular para Okode</ion-button>
    <p>Okode <a target="_blank" rel="noopener noreferrer" href="https://okode.com/">Sitio web Okode</a></p>
  </div>
</ion-content>
